<div id="home" class="row g-0 justify-content-center align-items-center">
    <div class="col text-center">
        <h1 class="text-uppercase heading-home">
            Hi, i am Sutachart
        </h1>
        <span class="heading-low">Programmer & Web Developer</span>
        <div>
            <p class="home-sub-text">
                Welcome to my portfolio, I like to learn new things and
                improve yourself always.
            </p>
            <p>
                <a href="https://www.linkedin.com/in/sutachart" target="_blank" class="a-link-page"> Linkedin </a>
                <span class="a-link-page"> | </span>
                <a href="https://github.com/sutachart" target="_blank" class="a-link-page"> GitHub </a>
                <span class="a-link-page"> | </span>
                <a href="https://github.com/sutachart" target="_blank" class="a-link-page"> Facebook </a>
            </p>
        </div>
    </div>
</div>
<div id="about" class="row g-0">
    <div class="col-md-6">
        <h2>About Us</h2>
        <p class="text-break">
            I'm new graduated from Computer Science at Khonkaen University.
            I already knew some middle level programming languages like
            c,c++. Due to my interest on web-development I learned React JS
            , Java-script and some front-end technologies. then I worked as
            an intern in a startup software company. Now i’m not working at
            the moment and i'm looking for a job as Front-end or Back-end
            developer.
        </p>
    </div>
    <div class="col-md-6">
        test
    </div>
</div>
<div id="experience" class="row g-0">
    <div class="col">
        <div class="container">
            <h1 class="text-center text-uppercase">Experience</h1>
        </div>
    </div>
</div>